{% extends 'base.html' %}
{% block title %}ABOUT{% endblock title %}
{% block body %}
<div class ="m-auto">
    <img src="../static/img/about.jpg" width ="300px" alt="...">
    <div>
      <p class="card-text">ToDo App is simple and awesome app to organize your tasks with very easy to use interface. ToDo can help you to make list of your tasks and also you can set Reminder with specific tasks. It reminds you at you specified Time..</p>
      <p class="card-text"></p>
        We believe that we only focus on our Today and Tomorrow tasks, which is most important. So we made user interface like that so that it can give you a quick view on your day timeline.
      </p>
      <h2  class="card-text">Functions :</h2>
      <p>
          <ol>
              <li>- Add your task in to the app</li>
              <li>- Add unlimited Categories to organize your work</li>
              <li>- Modify your Task Heading / Descriptions using Update</li>
              <li>- Delete your Task Heading / Descriptions using Delete</li>
              <li>- Check your Done tasks and you can restore them back or delete permanently.</li>
          </ol>
      </p>
      <h2">ToDo App is built using</h2>
      <p>
          <ul>
              <li>python </li>
              <li>flask</li>
              <li>heroku</li>
              <li>github</li>
          </ul>
      </p>
    </div>
  </div>
{% endblock body %}
