{% extends 'base.html' %}
{% block title %}ABOUT{% endblock title %}
{% block body %}
<div class="card" style="width: 18rem;">
    <img src="../static/img/about.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">ToDo App is simple and awesome app to organize your tasks with very easy to use interface. ToDo can help you to make list of your tasks and also you can set Reminder with specific tasks. It reminds you at you specified Time..</p>
      <p class="card-text"></p>
        We believe that we only focus on our Today and Tomorrow tasks, which is most important. So we made user interface like that so that it can give you a quick view on your day timeline.
      </p>
      <h2  class="card-text">Functions :</h2>
      <p class="card-text">
        - Add your task in to the app
        - Add unlimited Categories to organize your work
        - Modify your Task Heading / Descriptions using Update
        - Delete your Task Heading / Descriptions using Delete
        <!-- - Modify your task reminder time / date -->
        <!-- - Share it with other friends / Family with android's built in share       functionality. -->
        - Check your Done tasks and you can restore them back or delete permanently.
        <!-- - Backup and Restore your Data using CSV export/import. -->
        <!-- - Notification Mute Setting and Reset All Functionality -->
      </p>
      <h2  class="card-text">ToDo App is built using</h2>
      <p class="card-text">
        python 
        flask
        heroku
        github
      </p>
    </div>
  </div>
{% endblock body %}
